body {
    background: rgb(199,109,242);
    background: radial-gradient(circle, rgba(199,109,242,0.7413559173669468) 0%, rgba(0,17,83,1) 100%);
    color: #e6e6e6;
}

.body-container {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 1rem;
}
 
.left-container {
    /* display: flex;
    justify-content: center;
    text-align: center;  */
    padding-left: 50px;
}

.left-contents {
    position: fixed;
}


#pic-of-me {
    border-radius: 50%;
    width: 250px;
    margin-left: 50px;
    margin-top: 50px;
}

.left-container .nav-menu {
    margin-left: 40px;
    list-style-type: none;
    padding-top: 25px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    text-align: left;
}

.left-container ul li {
    padding: 16px;
    font-size: 12px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: transform 0.3s ease;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.nav-line {
    width: 30px;
    height: 2px;
    margin-right: 10px;
    background-color: rgb(49, 36, 133);
}

.nav-item a:hover {
    color: #192130;
    transform: translateX(30px);
}

.social-media-items {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 30px;
}

.fa-brands:hover {
    color: rgb(193, 149, 235) !important;
}

.right-container {
    margin-top: 90px;
    margin-right: 170px;
    margin-left: 70px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    padding-bottom: 200px;
}

.right-container h2 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
}

.right-container h3 {
    margin: 0;
    color: white;
}

.default-container {
    padding: 0;
    margin: 0;
}

.project-box {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.project-box:hover {
    transition: 0.3s ease-in;
    background-color: rgba(235, 199, 252, 0.1);
}

.project-badge {
    /* background-color: rgb(49, 36, 133); */
    background-color: #744E87;
    /* background-color: #c195eb; */
    padding: 8px 15px;
    color: #ead5f5;
    text-align: center;
    border-radius: 30px;    
}

.exp-header {
    display: flex;
    justify-content: space-between;
}

.main-header {   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 40px -10px;
}

.fa-solid {
    padding: 15px 15px 10px 0px;
}

.text-box {
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    padding: 1.845rem;
    position: relative;
    border-left: 4px solid #0acafa;
}

.text-box::before {
    position: absolute;
    content: "";
    border-radius: 1000px;
    width: 20px;
    height:20px;
    background-color:white;
    z-index: 1;
    top: 30px;
    left: -12px;
}

.text-box:hover {
    background-color: rgba(235, 199, 252, 0.1);
}

.date-job {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
}

.exp-title {
    width: 60%;
}

.divider {
    color: #d9bef4;
    padding: 0px 10px;
}

footer i {
    display: flex;
    justify-content: flex-end;
}