body {
    background-color: WHITE;
}

.body-container {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 1rem;
}
 
.left-container {
    /* display: flex;
    justify-content: center;
    text-align: center;  */
    padding-left: 50px;
}

.left-contents {
    position: fixed;
}


#pic-of-me {
    border-radius: 50%;
    width: 250px;
    margin-left: 50px;
    margin-top: 50px;
}

.left-container .nav-menu {
    margin-left: 40px;
    list-style-type: none;
    padding-top: 25px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: grey;
    text-align: left;
}

.left-container ul li {
    padding: 16px;
    font-size: 14px;
}

.nav-item a {
    text-decoration: none;
    color: grey;
    display: inline-block;
    transition: transform 0.3s ease;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.nav-line {
    width: 30px;
    height: 2px;
    margin-right: 10px;
    background-color: purple;
}

.nav-item a:hover {
    color: #192130;
    transform: translateX(30px);
}

.social-media-items {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 30px;
}

.right-container {
    margin-top: 90px;
    margin-right: 170px;
    margin-left: 70px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    padding-bottom: 200px;
}

/* for right container - 
height: 600px;
overflow-y: scroll;
max-height: 100%; */

.right-container h2 {
    padding-bottom: 40px;
}

.right-container p {
    padding-bottom: 85px;
}


